.page {
  width: 100%;
  padding: 0 20px;
  min-height: 100vh;
  transition: all 0.3s;
  background: #f3f7f9;
  overflow-y: scroll;
}
h1 {
  margin-top: 20px !important;
}
.error {
  color: red;
}

.ui.primary.button,
.ui.primary.buttons .button {
  background-color: #fc0082 !important;
  border-color: #fc0082 !important;
}

.ui.primary.button:hover,
.ui.primary.buttons .button:hover {
  background-color: #000;
  border-color: #000;
}

.ui.primary.button:disabled,
.ui.primary.buttons .button:disabled {
  background-color: rgba(252, 0, 130, 0.5);
  border-color: rgba(252, 0, 130, 0.5);
}

input.error {
  border-color: red !important;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  height: 100%;
}
.ui.table.sticky thead tr:first-child > th {
  position: sticky !important;
  top: 0;
  z-index: 2;
}

.add-button {
  margin: 1em 0.5em !important;
}
